.hero{
    grid-column: full-start / full-end;
    background: url(../img/14885.jpg);
    background-size: contain;
    // background-attachment: fixed;
    height: 800px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    @media screen and (max-width: 695px){
        height: 1094px;
    }
    
    
    


    &__container{

        display:grid;
    grid-template-columns: [full-start] minmax(2rem,1fr)  [center-start] repeat(8, [col-start] minmax(min-content,15rem)[col-end]) [center-end]  minmax(2rem,1fr) [full-end];
        position: relative;

        h1{
            line-height: 35px;
            position: relative;
            top: 73px;
            font-size: 3rem;
            right: -45%;
            width: 479px;
            background: #ffa6aab8;
            color: #013243;
            padding: 11px;
            text-transform: uppercase;
            grid-column: center-start / center-end;
            @media screen and (max-width: 995px){

                font-size: 2.5rem;
                right: 0%;
                width: 320px;

            }
            @media screen and (max-width: 695px){
                top: 18px;
                font-size: 2rem;
                width: 260px;
                line-height: 25px;
            }
        }
    }

    &__content{
        grid-column: center-start / center-end;
        display: flex;
        justify-content: space-between;
        
        @media screen and (max-width: 995px){
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            
        }
        @media screen and (max-width: 695px){
            
            display: grid;
            grid-template-columns: 1fr;
            
        }
        img{
            width: 396px;
            position: relative;
            z-index: 2;
            box-shadow: 4px 4px 6px rgba(0,0,0,0.3);
            // display: none;

        }
    }

    &__left{
        position: relative;
        z-index: 1;
        width: 396px;
        @media screen and (max-width: 995px){
            width: 90%;
            top: 93px;
        }
        @media screen and (max-width: 695px){
            height: 436px;
            top: 37px;
        }
        canvas{
            box-shadow: 4px 4px 6px rgba(0,0,0,0.3);
        }
        
        &::after{
            content: '';
            position: absolute;
            top: 9px;
            left: 15px;
            width: 100%;
            height: 100%;
            background-color: #ffa6aa;
            z-index: -1;
        }
    }
    &__right{
        position: relative;
        z-index: 1;
        width: 396px;
        height:544px;
        top: 93px;
        @media screen and (max-width: 995px){
            width: 90%;
            
        }
        @media screen and (max-width: 695px){
            height: 436px;
        }
        canvas{
            box-shadow: 4px 4px 6px rgba(0,0,0,0.3);
           
        }

        &::after{
            content: '';
            position: absolute;
            top: 9px;
            left: 15px;
            width: 100%;
            height: 100%;
            background-color: #ecc044;
            z-index: -1;
        }
    }


    
}